ion-select {
  --padding-bottom: 0;
  --padding-top: 0;
  --padding-start: 10px;
  color: var(--ion-color-margarete-contrast)
}

ion-list {
  ion-item {
    ion-label {
      margin-left: 16px;
    }
  }
}

.receita {
  color: var(--ion-color-margarete);
}

.despesa {
  color: var(--ion-color-danger);
}

ion-footer {
  ion-label {
    margin-left: 16px;
  }
  ion-note {
    margin-right: 16px;
  }
}