<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
    <h2>Bem-vindos ao Novo!</h2>
    <p>Uma forma diferente de gerenciar suas finanças pessoais e seus investimentos.</p>
  </ion-slide>
  <ion-slide>
    <app-logo></app-logo>
    <h2>Receitas e Despesas</h2>
    <p>Anote, gerencie, analise e planeje suas finanças pessoais.</p>
  </ion-slide>
  <ion-slide>
    <app-logo></app-logo>
    <h2>Investimentos</h2>
    <p>Acompanhe e Rebalanceie sua carteira de investimentos.</p>
  </ion-slide>
</ion-slides>